* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #555;
    text-decoration: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

p {
    color: #555;
}

.container {
    margin: auto;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}

.logo {
    width: 125px;
}

.navbar {
    align-items: center;
    display: flex;
    padding: 20px;
}